<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description"
      content="Website meta description for google search results go here" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 
      include a favicon for your site if you have it, else omit the line below 
      Location of favicon can be in mytheme/static/favicon.ico
  -->
  <link rel='shortcut icon' type='image/x-icon' href={{ "/favicon.ico" | relURL }} />
  {{ $title := print .Site.Title " | " .Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>

</head>

  <body>
    <header>
    </header>

    <main id="content">
          {{- block "main" . -}}
          {{ end }}
    </main>

    <footer>
    </footer>
  
  </body>
</html>
